<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Workshop</title>

    <!-- Load angular lib dependency -->
    <script src="js/vendor/angular.js" type="text/javascript" charset="utf-8"></script>
    <!-- Alternative for loading angular lib from cdn -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js" type="text/javascript" charset="utf-8"></script> -->

    <!-- Load your app js files -->
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <!-- Initialize angular module 'app' -->
    <div ng-app="app">
      <h1>Todo list</h1>
      <div ng-controller="TodoListCtrl">
        <div class="new-todo">
          <input type="text" ng-model="newTodo.title">
          <button ng-click="addTodo(newTodo)">Add new todo</button>
        </div>
        <div class="todo-list">
          <div class="todo-item" ng-repeat="todo in todos | orderBy:'done':true">
            <p>
              <span ng-hide="todo.done">{{todo.title}}</span>
              <s ng-show="todo.done">{{todo.title}}</s>
              <input type="checkbox" ng-value="todo.done" ng-click="todo.done = !todo.done">
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
